body {
    background-color: black;
}

header {
    border: solid 3px purple;
    background-color: gold;
    text-align: center;
    font-family: fantasy;
    border-radius: 25px;
    width: 900px;
    margin: auto;

}

main {
    border: solid 3px gold;
    background-color: plum;
    font-family: fantasy;
    border-radius: 25px;
    width: 900px;
    margin: auto;
    margin-top: 25px;

}

h1 {
    font-size: 50px;
    padding: 1px;
    text-align: center;
}

aside {
    background-color: greenyellow;
    border: solid 2px;
    padding-right: 300px;
    float: right
}